<form 
    action="http://localhost:8080/api/singup" 
    method="post"
    class="text-start col-8"
>
    <label for="first_name" class="form-label">Nombre:</label>
    <input type="text" class="form-control" name="first_name" required>

    <label for="last_name" class="form-label">Apellido:</label>
    <input type="text" class="form-control" name="last_name" required>

    <label for="age" class="form-label">Edad:</label>
    <input type="number" class="form-control" name="age" required>

    <label for="email" class="form-label">Email:</label>
    <input type="text" class="form-control" name="email" required>

    <label for="password" class="form-label">Contraseña:</label>
    <input type="text" class="form-control" name="password" required>

    <button type="submit">registrarse</button>
</form>